<div class="row">

  {{!-- {{#unless disableToLeft }} --}}
    <button disabled={{ disableToLeft }} onclick={{ action "previous" }}>&larr;</button>
  {{!-- {{/unless}} --}}

  {{#liquid-bind selectedData bool use=(if goRight "toLeft" "toRight") class="display" as |data|}}
    <div class="display__header">
      {{ data.name }}
    </div>
    <div class="display__body">
      <div class="display__summary">{{ data.summary }}</div>
      <hr>
      <div class="tabs-container">
        <div class="tabs-container__tabs">
          {{#each data.tabs as |tab index|}}
            <div class="tabs-container__tab" onclick={{ action "selectTab" index }}>{{tab.title}}</div>
          {{/each}}
        </div>
        <div class="tabs-container__details">
          {{#liquid-bind selectedTab bool use="fade" as |tab|}}
            {{tab.details}}
          {{/liquid-bind}}
        </div>
      </div>
    </div>
  {{/liquid-bind}}

  <button disabled={{ disableToRight }} onclick={{ action "next" }}>&rarr;</button>
</div>