<div class="row">

  <button disabled={{ disableToLeft }} onclick={{ action "previous" }}>&larr;</button>

  {{#liquid-bind selectedData bool use=(if goRight "toLeft" "toRight") class="carousel" as |data|}}
    {{ log data }}
    <div class="carousel__header">
      {{ data.name }}
    </div>
    <hr>
    <div class="carousel__body">
      <div>{{ data.summary }}</div>
      {{#each data.tabs as |tab-item|}}
        <div>{{tab-item.title}}</div>
      {{/each}}
    </div>
  {{/liquid-bind}}

  <button disabled={{ disableToRight }} onclick={{ action "next" }}>&rarr;</button>
</div>