<div class="row">
  {{hexagon-tile goTo=(action "submit") subroute="Learning"}}
  {{hexagon-tile goTo=(action "submit") subroute="Exploring"}}
</div>

<div class="row">
  {{hexagon-tile goTo=(action "submit") subroute="Winning"}}
  {{hexagon-tile goTo=(action "submit") subroute="Family"}}
  {{hexagon-tile goTo=(action "submit") subroute="Contributing"}}
</div>

<div class="row">
  {{hexagon-tile goTo=(action "submit") subroute="Gaming"}}
  {{hexagon-tile goTo=(action "submit") subroute="Programming"}}
</div>