<div class="row">
  {{hexagon-tile goTo=(action "submit") subroute="Learning"}}
  {{hexagon-tile goTo=(action "submit") subroute="Exploring"}}
</div>

<div class="row">
  {{hexagon-tile goTo=(action "submit") subroute="Competing"}}
  {{hexagon-tile goTo=(action "submit") subroute="Family"}}
  {{hexagon-tile goTo=(action "submit") subroute="Potatoing"}}
</div>

<div class="row">
  {{hexagon-tile goTo=(action "submit") subroute="Gaming"}}
  {{hexagon-tile goTo=(action "submit") subroute="Programming"}}
</div>